@media (max-width: 1399.98px) {
	.slider-container {
		max-width: 1050px;
	}
}

@media (max-width: 1199.98px) {
	.slider-container {
		max-width: 100%;
	}
}

@media (max-width: 767.98px) {
	.promo-container {
		padding: 0 40px;
	}

	.page {
		padding-top: 130px;
	}
}

@media (max-width: 575.98px) {
	.inner-container {
		padding: 0 50px;
	}

	.page {
		padding-top: 150px;
	}
}

@media (max-width: 479.98px) {
	.container,
	.inner-container {
		padding: 0 15px;
	}

	.promo-container {
		padding: 0 10px;
	}

	.page {
		padding-top: 35px;
	}
}
